@import './src/style/variables';
#header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	background-color: #fff;
  padding: 0 20px;
	box-shadow: 0 0 5px rgba(0,0,0,.05);
	z-index: 1000;
	ul {
		> li {
			> a {
				text-transform: none;
				font-size: 1rem;
				color: #5C636E;
			}
		}
	}
}
#mobileNav {
	display: none;
}
#logo {
	img {
		width: 172px;
	}
}
#leftNav {
	margin-left: 40px;
}
#signUp {
	  background: $red;
    color: white !important;
    height: 33px;
    margin-top: 25px;
}
.loggedInContainer {
  padding-bottom: 20px;
  position: relative;
  top: 10px;
	> * {
		display: inline-block;
	}
	> span {
		opacity: 0.2;
		margin-left: 10px;
		transition: transform .3s;
	}
	.dropdown {
		right: 0;
		top: 98%;
		display: none;
	}
	&:hover {
		> span {
			transform: rotate(180deg)
		}
		.dropdown {
			display: block;
		}
	}
}

.avatar {
	width: 40px;
  position: relative;
  display: inline-block;
  margin-left: 10px;
	&:after {
		content: "";
		background-image: url('/assets/avatar_mask.png');
		width: 42px;
		height: 42px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		background-size: 100%;
	}
	img {
		width: 42px;
    height: 42px;
    object-fit: cover;
	}
}
#mobileShadow {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 20%;
	height: 100%;
	right: 0%;
	top: 62px;
	transition: transform .2s;
  transform: translate(100%);
	&.opened {
		transform: translate(0, 0);
	}

}
#expandMobileMenu {
    display: none;
    background-color: #fff;
    font-size: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    color: $red;
    text-align: center;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    z-index: 21;
    transition: padding .2s cubic-bezier(.77,.2,.05,1);
		transition: top .2s cubic-bezier(.77,.2,.05,1);
		&.opened {


     	 span {
        	opacity: 1;
        	transform: rotate(45deg) translate(-8px,-17px);
    		}

    	span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(.2,.2)
    	}

    	span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(-3px,13px);
    	}

		}
		span {
	    display: block;
	    width: 33px;
	    height: 4px;
	    margin-bottom: 5px;
	    position: relative;
	    background: $red;
	    z-index: 1;
	    transform-origin: 4px 0;
	    transition: transform .5s cubic-bezier(.77,.2,.05,1) , background .5s cubic-bezier(.77,.2,.05,1) , opacity .55s ease;
			&:first-child {
			    transform-origin: 0% 0%;
			}
			&:nth-last-child(2) {
			    transform-origin: 0% 100%;
			}
		}
}

@media (max-width: 880px) {
	header {
		height: 60px;
		nav {
			display: none;
		}
	}
	.loggedInContainer {
		left: -28px;
	}
	#expandMobileMenu {
	    display: block;
	}
	#logo {
    top: 14px;
    left: 74px;
    position: absolute;
		img {
			width: 100px;
		}
	}
	#leftNav {
		display: none;
	}
	#mobileShadow {
		display: block;
    z-index: 1000;
	}
	#signUp {
	    border-top: 1px solid #f7f7f7;
		  background: white;
	    color: $black !important;
	    height: auto;
	    margin-top: 0;
	}
	#mobileNav {
		display: block;
		position: fixed;
		width: 80%;
		height: 100%;
		background-color: white;
		left: 0;
  	top: 62px;
		transition: transform .2s;
		transform: translate(-100%, 0);
		z-index: 1000;
		h3 {
	    text-align: center;
	    font-size: 18px;
	    font-weight: bold;
	    margin: 15px 0 14px;
		}
		a {
			display: block;
			padding: 15px 20px;
			border-bottom: 1px solid $lightBackgroundGrey;
		}
		&.opened {
			transform: translate(0, 0);
		}
	}
}
