
@import './src/style/variables';
:global {
	#home {
		min-height: 1000px;
	}
	#mainTitle {
		text-align: center;
		margin: 40px 0;
		span {
			color: $red;
		}
	}
}
:global {
	#homepage {
			.slider-list {
				height: 260px !important
			}
			.slider-control-bottomcenter {
				display: none;
			}
			.slider-control-centerleft, .slider-control-centerright {
				background-color: $lightRed2;
				border-radius: 100%;
		    width: 50px;
		    height: 50px;
		    left: -65px !important;
				button {
			    font-size: 0;
				  background: transparent!important;
				  position: relative;
				  top: -1px;
				  left: 17px;
					&:before {
						content: "\276E";
						font-size: 20px;
					}
				}
			}
			.slider-control-centerright {
				left: auto !important;
				right: -65px !important;
				button {
					left: 0px;
					&:before {
						content: "\276F";
					}
				}
			}
	}
}
