@import './src/style/variables';

h3 {
  color: $hBlack;
  font-size: 22px;
  font-family: 'Krub', sans-serif;
  font-weight: 500;
}

.blogHeader {
  .title {
    color: $hBlack;
    font-size: 48px;
    font-family: 'Krub', sans-serif;
    font-weight: 300;
    max-width: 726px;
    margin: 0 auto 30px;
    text-align: center;
  }

  .date {
    color: $coolGrey;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
  }

  @media (max-width: 880px) {
    .title {
      text-align: center;
      margin-bottom: 45px;
    }
  }
}

.blogArticle {
  padding: 60px 0;
  position: relative;

  > div {
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }

  &:before {
    content: '';
    display: inline-block;
    width: 120px;
    height: 6px;
    background: url(/../../assets/decor@3x.png) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
}

.blogText {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 18px;
  line-height: 1.778;
  color: $charcoalGrey;
  letter-spacing: -0.3px;

  p {
    margin-bottom: 40px;
  }

  a {
    color: $cherryRedTwo;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &Main {
    font-family: 'Krub', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    color: $hBlack;
    letter-spacing: -0.1px;
  }
}

.blogAuthor {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 60px;

  h3 {
    margin-bottom: 30px;
  }

  &Inner {
    display: flex;
    justify-content: space-between;
  }

  &Avatar {
    height: 92px;
    width: 92px;
    min-width: 92px;
    position: relative;
    margin-right: 46px;

    &:after {
      content: "";
      background-image: url('/assets/avatar_noborder_mask_xlarge.png');
      width: 92px;
      height: 92px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background-size: 100%;
    }

    img {
      width: 92px;
      height: 92px;
      object-fit: cover;
    }
  }

  &About {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -0.2px;
    color: $charcoalGrey;
    width: 90%;
    word-break: break-word;
    word-wrap: break-word;
  }

  &Info {
    font-family: 'Krub', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: black;
    letter-spacing: 0.6px;
    margin: 0 0 10px;
    position: relative;
  }

  &Name {
    display: flex;
    flex-wrap: wrap;

    .name {
      margin-right: 14px;
    }

    .date {
      color: $coolGreyTwo;
    }
  }

  @media (max-width: 880px) {
    text-align: center;

    .blogAuthorInner {
      display: block;
    }
    .blogAuthorAvatar {
      margin: 0 auto 20px;
    }
    .blogAuthorAbout {
      width: 97%;
      margin: 0 auto;
    }
  }
}

.blogDecoration {
  position: relative;
  margin-bottom: 6px;

  &:after {
    content: '';
    display: inline-block;
    width: 120px;
    height: 6px;
    background: url(/../../assets/decor@3x.png) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
}

:global {
  #blog {
    min-height: 1000px;

    button.red-btn {
      background: $pinkishRed;
      font-size: 14px;
      height: 40px;
    }
  }
}