@import './src/style/variables';

.featuredServices{
	margin-bottom: 160px !important;
	
	.header {
		color: $hBlack;
		font-size: 32px;
		margin-bottom: 40px;
        line-height: 60px;
        font-family: 'Krub', sans-serif;
        font-weight: 400;
	}
	.services{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
    }
    
    @media (max-width: 880px) {
        margin-bottom: 50px !important;
        .header {
            text-align: center;
        }
    }
}