
@import './src/style/variables';
:global {
	#home {
		min-height: 1000px;
	}
	#mainTitle {
		text-align: center;
		margin: 40px 0;
		span {
			color: $red;
		}
	}
	.accent {
		margin-bottom: 60px;
		> p {
			font-size: 25px;
			padding: 70px;
			border-left: 1px solid $lightGrey;
			border-bottom: 1px solid $lightGrey;
			p {
				margin: 0;
			}
		}
	}

	@media (max-width: 880px) {
		#mainTitle {
			font-size: 30px;
		}
		.accent {
			text-align: center;
			> p {
				padding: 20px;
			}
		}
	}
}
