@import './src/style/variables';
.pros {

}
.person {
	margin: 90px auto 0 auto;
	max-width: 1200px;
    position: relative;
	min-height: 450px;
	display: flex;
	flex-wrap: wrap;
	> div {
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
	}
}
.imageContainer {
	width: 250px;
    top:0;
	z-index: 2;
    left: 0;
}
.success {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
  .btn{
	  display: none;
	  opacity:0.5;
	  &:hover{
		transition: .3s;
		opacity:1;
	  }
  }
  &:hover{
	padding: 0;
	.txt{
		display: none;
	}
	.btn{
		display: block;
		margin-top: 15px !important;
		height: 40px !important;		
	}
  }
}
.image {
	width: 250px;
    height: 250px;
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		background-image: url('/assets/avatar_mask_xlarge.png');
    	width: 250px;
    	height: 250px;
		position: absolute;
		top: 0;
		left: 0;
		background-size: 100%;
		z-index: 100;
	}
	img {
    width: 248px;
    height: 248px;
    object-fit: cover;
	position: relative;
    top: 1px;
    left: 1px;
	}
}
.actionsInfo{
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
	.loading{
		&:after {
			content: ' .';
			animation: dots 1s steps(5, end) infinite;
		}
	}
}

.userControlBtn{
	width: 100%;
	max-width: 250px;
  	font-size: 20px;
  	font-weight: bold;
  	height: 50px;
  	margin-top: 20px;
}
#callPro {
	background-color: $red;
	color: white;
}
.info {
	width: calc(100% - 250px - 170px);
    box-sizing: border-box;
	padding: 0 20px 0 40px;
    position: relative;
	h2 {
        margin-bottom: 0;
        font-size: 38px;
        padding-left: 0;
        color: $grey;
	}
	h3 {
        margin:-5px 0 20px 0;
		font-size: 24px;
		font-weight: 500;
		color: $red;

	}
	.prof {
		margin-bottom: 40px;
		span {
			font-size: 20px;
			opacity: 0.5;
			display: inline-block;
			margin: 0 10px;
		}
		> a {
            background-color: $backgroundGrey;
            color: white;
            padding: 4px 9px;
            font-size: 13px;
			display: inline-block;
		}
	}
	.description{
		font-size: 18px;
	}
}
.note {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: $red;
  font-weight: bold;
  font-size: 18px;
	a {
		color: $red;
		text-decoration: underline;
	}
}
.priceContainer {
	width: 170px;
	font-size: 22px;
	text-align: center;
    top: 0px;
    right: 0;
	.price {
		width: 170px;
		height: 100px;
		line-height: 100px;
		font-size: 32px;
		text-align: center;
		display: inline-block;
		span {
			font-size: 18px;
			color: $grey;
		}
	}	
}

.raiting {
	text-align: center;
	> span {
		text-transform: uppercase;
		color: $grey;
		font-size: 18px;
		display: block;
		margin: 15px 0 -6px 0;
	}
	> div {
		display: inline-block;

	}
}

.videoContainer {
	margin-top: 40px;
	width: 100%;
	.videoIntro{
		color: black;
		font-size: 18px;
    	margin-bottom: 20px;
	}
	&>span{
		display: flex;
    	align-items: center;
		iframe{
			width: 80%;
			height: 387px;
			margin: 0 auto;
		}
	}
}

.tabs{
	width: 80%;
    overflow: auto;
    margin: 0 auto;
}
.callsHeader{
	display: flex;
	border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
	& > div{
        width: 100%;
        text-align: center;
    }
}

.bottomSection{
	
}

@media (max-width: 960px) {
    .imageContainer {
        position: relative;
    }
	.person {
		text-align: center;
		justify-content: center;
		padding-top: 80px;
		margin-top: 20px;
		position: relative;
	}
	.image {

	}
	.info {
		width: 100%;
		position: static;
		margin: 40px 0 0 0;
        padding: 0;
        text-align: center;
		h2 {
			font-size: 30px;
			margin-top: 0;
            color: $grey;
            padding-left: 0;
		}
		h3 {
			font-size: 20px;
		}
        .description {
            width: 70%;
            text-align: center;
            margin: 0 auto 40px auto;
        }
	}
	.nameAndTitle {
    	position: absolute;
    	top: 0;
    	width: 100%;
		left: 0;
		text-align: center;
		padding:0;
	}
	.priceContainer {
		width: 100%;
		float: none;
		position: static;
		display: flex !important;
		align-items: center;
		flex-direction: column;
		margin-bottom: 30px;
		.price{
			height: 70px;
    		line-height: 70px;
		}
	}
	.proRoundel {
		display: none;
	}
	.videoContainer {
		margin-top: 50px;
		width: 100%;
		
		iframe{
			height: 300px;
		}
	}
	.modal {

	}

}

@media (max-width: 640px) {
    
	.info {
        .description {
            width: 100%;
        }
	}
}

@keyframes dots {
	0%, 20% {
	  color: rgba(0,0,0,0);
	  text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);
	}
	40% {
	  color: black;
	  text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);}
	60% {
	  text-shadow:
		.25em 0 0 black,
		.5em 0 0 rgba(0,0,0,0);}
	80%, 100% {
	  text-shadow:
		.25em 0 0 black,
		.5em 0 0 black;
	}
}