@import './src/style/variables';
.pros {

}
.person {
	margin-top: 90px;
	> div {
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
	}
}
.imageContainer {
	width: 300px;
	position: relative;
}
.success {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.image {
	width: 300px;
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		background-image: url('/assets/avatar_mask_large.png');
    width: 292px;
    height: 298px;
		position: absolute;
		top: 0;
		left: 0;
		background-size: 100%;
		z-index: 100;
	}
	img {
    width: 290px;
    height: 291px;
    object-fit: cover;
		    position: relative;
    top: 2px;
    left: 1px;
	}
}
.proRoundel {
	display: block;
  width: 70px;
  height: 70px;
  background-color: $red;
  border-radius: 100%;
  text-align: center;
  color: white;
  line-height: 70px;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  left: 0;
  top: 4px;
}
#callPro {
	width: 100%;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin-top: 30px;
}
.info {
	width: 50%;
	margin-left: 40px;
  position: relative;
	h2 {
    margin-bottom: 0;
    font-size: 40px;
	}
	h3 {
    margin:-5px 0 20px 0;
		font-size: 24px;
		font-weight: bold;
		color: $red;

	}
	.prof {
		span {
			font-size: 20px;
			opacity: 0.5;
			display: inline-block;
			margin: 0 10px;
		}
		> div {
	    background-color: $backgroundGrey;
	    color: white;
	    padding: 4px 9px;
	    font-size: 13px;
	    border-radius: 10px;
			display: inline-block;
		}
	}

}
.note {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: $red;
  font-weight: bold;
  font-size: 18px;
	a {
		color: $red;
		text-decoration: underline;
	}
}
.priceContainer {
	width: 20%;
	float: right;
	text-align: right;
	font-size: 22px;
	text-align: center;
	.price {
		width: 170px;
		height: 170px;
		line-height: 160px;
		font-size: 32px;
		border: 3px solid $red;
		border-radius: 100%;
		text-align: center;
		display: inline-block;
		span {
			font-size: 18px;
			color: $grey;
		}
	}

	.raiting {

		> span {
			text-transform: uppercase;
			color: $grey;
			font-size: 16px;
			display: block;
			margin: 10px 0 -6px 0;
		}
		> div {
			display: inline-block;

		}
	}
}

.videoContainer {
	margin-top: 100px;
}
.nameAndTitle {
	position: relative;
	padding-left: 88px;
}
@media (max-width: 880px) {
	.person {
		text-align: center;
		padding-top: 80px;
		margin-top: 20px;
		position: relative;
	}
	.image {

	}
	.info {
		width: 100%;
		position: static;
		margin: 40px 0 0 0;
		h2 {
			font-size: 30px;
			margin-top: 0;
		}
		h3 {
			font-size: 20px;
		}
	}
	.nameAndTitle {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
		padding:0;
	}
	.priceContainer {
		width: 100%;
		float: none;
	}
	.proRoundel {
		display: none;
	}
	.modal {

	}

}
