@import './src/style/variables';

.serviceCard{
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px 55px;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;

    @media (max-width: 1200px) {
        min-height: 350px;
        height: auto;
        width: 100%;
    }

    @media (max-width: 580px) {
        padding: 10px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(2,2,2,.2);
        transition: background .3s ease;
    }

    .serviceName{
        width: 100%;
        font-size: 32px;
        margin: 0 auto 30px;
        font-family: 'Krub', sans-serif;
        font-weight: 300;
        line-height: 1.25;
        position: relative;
        z-index: 2;
        transform: translateZ(0);
        transition: all .3s ease;

        @media (max-width: 580px) {
            margin-bottom: 15px;
        }
    }
    .serviceInfo{
        display: none;
        font-size: 16px;
        font-family: 'OpenSans', sans-serif;
        font-weight: 400;
        letter-spacing: -.3px;
        line-height: 1.75;
        margin-bottom: 100px;
        position: relative;
        z-index: 2;
        transform: translateZ(0);
        transition: display .3s ease;

        @media (max-width: 580px) {
            line-height: 1.6;
        }
    }

    button {
        color: $pinkishRed!important;
        z-index: 2;
        transition: all .3s ease;
        position: absolute;
        bottom: 67px;
        left: 50%;
        transform: translateX(-50%);


        @media (max-width: 580px) {
            margin-top: 15px;
            bottom: 40px;
            white-space: nowrap;
        }

        &:hover {
            color: #fff!important;
            border-color: $pinkishRed;
            background: $pinkishRed;
        }
    }

    &:hover{
        color: #fff;
        text-decoration: none!important;

        &:before{
            background: rgba(2,2,2,.4);
        }
    }

    &Animated {
        &:hover{
            .serviceName {
                animation: slideUp  2s  ease;
            }

            .serviceInfo {
                display: block;
                animation: showtext  2s  ease;
            }
        }
    }

    @keyframes showtext{
        0% {opacity: 0;}
        70% {opacity: 1;}
    }
    @keyframes slideUp{
        0% {transform: translateY(100%);}
        45%{transform: translateY(0%);}
    }
}