@import './src/style/variables';

.TextBlock {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 60px auto;
  align-items: center;

  .howWorksText {
    font-size: 23px;
    letter-spacing: -0.3px;
    padding: 15px 0;
    width: 52%;
    padding-right: 10px;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  .header {
    color: $hBlack;
    margin-bottom: 25px;
    font: 300 48px/1.333 'Krub', sans-serif;

    span {
      color: $pinkishRed;
    }
  }

  .text {
    margin-bottom: 50px;
  }

  .image {
    flex: 1;
    position: relative;


    span {
      background: $pinkishRed;
      color: #fff;
      border-radius: 22px;
      padding: 1px 22px;
      position: absolute;
      animation: blink 2s infinite;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent $pinkishRed transparent;
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
      }
    }
  }

  @keyframes blink {
    0% { opacity: 0; }
    30% { opacity: 1; }
    90% { opacity: 0; }
    100% { opacity: 0; }
  }

  @media (max-width: 1000px) {
    padding: 0;
    width: 100%;
    max-width: none;
    text-align: center;
    flex-direction: column-reverse;

    .header {
      font-size: 32px;
    }

    .howWorksText {
      max-width: none;
      margin: 50px auto 0;
      text-align: center;
      font-size: 16px;
      padding: 0;
    }

    .image,
    .text,
    .header {
      width: 80%;
      margin: 0 auto;
    }

    .text {
      margin-top: 25px;
      margin-bottom: 50px;
    }

    .buttons {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }

  @media (max-width: 640px) {
    .image {
      width: 95%;

      span {
        font-size: 12px;
      }
    }
  }
}

:global {

  .greeting0 {
    top: 61%;
    right: 22%;
  }
  .greeting1 {
    bottom: -2%;
    right: 10%;
  }
  .greeting2 {
    top: 40%;
    left: 17%;
  }
  .greeting3 {
    top: 46%;
    right: 4%;
  }
  .greeting4 {
    bottom: 15%;
    left: 24%;
  }
  .greeting5 {
    bottom: -2%;
    left: 48%;
  }
  .greeting6 {
    top: 37%;
    left: 40%;
  }

  button.main-btn {
    transition: all .3s ease;

    &.red-btn {

      span {
        display: none;

        +span {
          display: inline;
        }
      }
    }

    &.white-btn {
      margin-left: 15px;
    }

    @media (max-width: 1200px) {

      &.red-btn,
      &.white-btn {
        font-size: 14px;
        padding: 0 30px;
        height: 48px;


        span {
          display: inline;

          +span {
            display: none;
          }
        }
      }

      &.red-btn {
        border: 1px solid $backgroundGrey;
        color: $black !important;
        background-color: white;

      }

      &.white-btn {
        border-color: $red;
        background-color: $red;
        color: white !important;
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }

}