@import './src/style/variables';

.photoCardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;

    .videoWrapper{
        position: relative;
        width: 306px;
        min-width: 306px;
        height: 530px;
        overflow: hidden;
    }
    .videoContainer{
        display: inline-block;
        position: absolute;
        background-color: $lightBackgroundGrey;
        width: 800px;
        height: 450px;

        left: 50%;
        margin: 0 auto;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);

        .video{
            text-align: center;
            height: 100%;
        }
    }

    & > div:not(:last-child){
        margin-right: 10px;
    }

    @media (max-width: 1400px) {
        margin: 0 50px;
    }
    @media (max-width: 880px) {
        justify-content: center;
    }
    
}