$red: #e3002b;
$grey: #7f7f7f;
$lightGrey: #e0e0e0;
$backgroundGrey: #979797;
$lightBackgroundGrey: #f7f7f7;
$lightRed: #fef4f6;
$black: #444;
$blue: #3d5273;
$lightRed2: #ff565c;


$mobileWidth: 880px;
