@import './uikit';
@import './variables';
@import './spinner';

html, body {
	height: 100%;
	width: 100%;
	padding: 40px 0 0 !important;
    box-sizing: border-box;
	overflow: visible !important;
	margin: 0;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 400;
	color: #5C636E;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', arial, sans-serif;
}
* {
	box-sizing: border-box;
}
a {
	font-family: 'Roboto', arial, sans-serif !important;
	color: #323232;
	&:hover {
		text-decoration: underline !important;
	}
}
#app {
	height: 100%;
}
.uk-modal {
	opacity: 1;
	transition: none;
}
.uk-modal-full {
	.uk-modal-dialog {
		transform: none;
		transition: none;
	}
}
.uk-modal-dialog {
	opacity: 1;
	transform: none;
	transition: none;
}
.uk-container {
	min-height: calc(100% - 174px);
    @media (max-width: 880px) {
        width: 100%;
        box-sizing: border-box;
    }
}
.uk-container-small {
	width: 980px;
	h1 {
		text-align: left;
        margin-top: 40px;
        font-weight: 500;
        padding-top: 20px;
        padding-left: 20px;
        color: $blue;
        text-transform: capitalize;
	}
	h2 {
		color: $red;
        padding-left: 20px;
	}
    margin-bottom: 80px;
    @media (max-width: 880px) {
        width: 100%;
        box-sizing: border-box;
    }
}
#homepage .uk-container-small {
    h1,
    h2 {
        padding-left: 0;
    }
}
.uk-close {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 60px;
  height: 60px;
  display: block;
	z-index: 5000;
	&:hover {
		opacity: 1;
	}
	&:before, &:after {
		position: absolute;
	  left: 15px;
	  content: ' ';
	  height: 60px;
	  width: 3px;
	  background-color: #333;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

button {
	background-color: $red;
	color: white !important;
}

.switchContainer {
  margin-bottom: 5px;
	> div {
		background-color: $lightGrey;
		border: none;
		&.on {
			background-color: $lightGrey;
			> div {
				left: 27px !important;
				background-color: $red;
			}
		}
		> div {
			background-color: $grey;
			border: none;
			box-shadow: none;
	    width: 19px;
  		height: 19px;
  		top: 4px;
			left: 4px;
		}
	}
	> span {
		top: 1px;
		position: relative;
		vertical-align: top;
		margin-left: 10px;
	}
}
.input-container {
	margin-bottom: 15px;
	position: relative;
	label {
    margin-bottom: 5px;
    display: inline-block;
	}
	.uk-input {
		height: 50px;
	}
}
.subTitle {
	color: #444;
	text-align: center;
}

.double-input-container {
	> .input-container {
		width: 48.5%;
		float: left;
		&:last-child {
			float: right;
		}
	}
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}

.rangeslider-horizontal {
	.rangeslider__fill {
		background-color: $red !important;
	}
	.rangeslider__handle {
		box-shadow: none !important;
		outline: none !important;
		&:after {
			display: none;
		}
	}
	.rangeslider__handle-tooltip {
		display: none !important;
	}
}

.validation-tooltip {
  color: white;
  position: absolute;
	left: -230px;
  display: block;
  width: 215px;
  background: $red;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  bottom: 7px;
	&:after {
		content:"";
    position: absolute;
    right: -8px;
    top: 4px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 10px;
		border-color: transparent transparent transparent $red;
	}
	&.right {
    right: auto;
    left: 106%;
		&:after {
	    left: -8px;
			border-width: 15px 10px 15px 0;
			border-color: transparent $red transparent transparent;

		}

	}
}
.uk-container-full {
	max-width: 10000px;
}
.uk-container-inner {
	margin: 0 auto;
	min-height: 0;
}

.vimeo {
	position: relative;
	height: 515px;
	margin: 0 auto;
	width: 980px;

	iframe, object, embed {
		 position: absolute;
		 top: 0;
		 left: 0;
		 width: 100%;
		 height: 100%;
	 }
	 .vimeo-play-button {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  background: rgba(61, 82, 115, 0.36	);
		  border: none;
		  height: 100%;

			svg {
				display: none;
			}
	 }
}


.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2000;
	> a {
		&:before, &:after {
			background-color: white;
		}
	}

}
.modalInner {
	background-color: white;
	width: 30%;
	padding: 40px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2001;
	transform: translate(-50%, -50%);
	span {
		display: block;
		margin-bottom: 20px;
	}
}

@media (max-width: 880px) {
    .uk-container-small {
        width: auto;
    }
	.vimeo {
		width: auto;
		height: 300px;
	}
	.mobile-hide {
		display: none !important;
	}
		.modalInner {
		width: 90%;
	}
}
