@import './src/style/variables';
#footer {
	width: 100%;
	background-color: white;
	background-color: #fff;
    padding: 20px;
	z-index: 1000;
	box-shadow: 0 0 5px rgba(0,0,0,.05);
	span {
		font-size: 12px;
		margin-left: 40px;
	}
	ul {
		> li {
			> a {
				text-transform: none;
			}
		}
	}
}
#logo {
	img {
		width: 140px;
	}
}
#right {
	position: relative;
	top: 15px;
}
@media (max-width: 880px) {
	#footer {
		display: block;
        nav {
            margin: 0 auto;
        }
	}
	#left {
		text-align: center;
		display: block;
		a {
	    display: inline-block;
	    width: 100%;
	    margin: 30px 0 10px;
		}
		span {
	    display: block;
    	margin: 0 0 20px 0;
		}
	}
}
#footerLinks {
  display: block;
  text-align: center;
  margin-bottom: 30px;
	li {
		display: inline-block;
		a {
			height: auto;
		}
	}
}
