@import './src/style/variables';

.blogPost {
	min-width: 294px;
	width: 294px;
	height: 372px;
	margin: 0 12px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;

	> a {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		transition: background 0.3s ease;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&Description {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		font-family: 'Krub', sans-serif;
		font-weight: 500;
		letter-spacing: -.4px;
		padding: 0 46px 50px;

		.date {
			font-size: 12px;
			letter-spacing: .2px;
			margin-bottom: 10px;
		}

		a {
			margin-top: 25px;
			padding: 0 38px;
			display: block;
			text-align: center;
			line-height: 40px;
			font-size: 14px;
			height: 40px;
			width: 150px;
		}


	}

	&:hover {
		cursor: pointer;

		> a {
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
			text-decoration: underline
		}

		.title,
		button{
			text-decoration: underline;
		}

	}

	&s{
		margin: 60px auto 0;
		padding: 20px 0 80px;
		border-top: 2px solid $paleGrey;
		overflow-x: hidden;

		@media (max-width: 880px) {
			padding-bottom: 100px;
		}

		&Slider {
			position: relative;
		}

		&Title {
			max-width: 980px;
			margin: 0 auto;
			padding-top: 60px;
			padding-bottom: 60px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			h3 {
				margin: 0;
				flex: 1;
			}

			@media (max-width: 880px) {
				display: block;
				text-align: center;
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
	}
}

:global {
  .slick-list {
    padding: 0 !important;
  }

  .slick-arrow {
    top: auto;
    bottom: 107%;
    right: 0;
    border-radius: 50%;
    border: 1px solid $cloudyBlue;
    color: $pinkishRed;
    width: 48px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    background: none;
    outline: none;
    transition: border .3s ease;
    margin-left: 16px;

		@media (max-width: 1200px) {
			right: 15px!important;
		}
		@media (max-width: 880px) {
			right: 0!important;
			left: 50%;
			top: 100%;
			bottom: auto;
			margin-top: 60px;
		}

    &:before {
      content: ''
    }

    &:hover,
    &:focus,
    &:active {
      color: $pinkishRed;
      border-color: $pinkishRed;
    }

    span {
      height: 100%;
      line-height: 46px;
    }

    &.slick-disabled {
      color: $cloudyBlue;
      cursor: default;

      &:hover,
      &:focus,
      &:active {
        border-color: $cloudyBlue;
      }
    }
  }

  .slick-prev {
    left: auto;

		@media (max-width: 1200px) {
			right: 79px!important;
		}
		@media (max-width: 880px) {
			right: 0!important;
			left: 50%;
			margin-left: -56px;
		}
  }
}