@import './src/style/variables';

.notification{
    width: 280px;
    height: auto;
    background-color: $red;
    color: white;
    text-align: center;
    position: fixed;
    right: 0;
    top: 120px;
    padding: 5px;
    padding-right: 30px;
    cursor: pointer;
    z-index: 1000;

    &:hover{
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    }
}

@media (max-width: 880px) {
    .notification{
        top: 80px;
        width: 250px;
        padding-right: 20px;
    }
}