@import './src/style/variables';

.TextBlock {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 130px auto;
  align-items: center;

  .howWorksText {
    font-size: 23px;
    letter-spacing: -0.3px;
    padding: 15px 0;
    width: 52%;
    padding-right: 10px;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .header {
    color: $hBlack;
    margin-bottom: 25px;
    font: 300 48px/1.333 'Krub', sans-serif;

    span {
      color: $pinkishRed;
    }
  }

  .text {
    margin-bottom: 50px;
  }

  .buttons {

  }


  @media (max-width: 1200px) {
    margin: 60px auto;
    padding: 0;
    width: 100%;
    max-width: none;
    text-align: center;
    flex-direction: column-reverse;

    .header {
      font-size: 32px;
    }

    .howWorksText {
      max-width: none;
      margin: 50px auto 0;
      text-align: center;
      font-size: 16px;
      padding: 0;
    }

    .image,
    .text,
    .header {
      width: 80%;
      margin: 0 auto;
    }

    .text {
      margin-top: 25px;
      margin-bottom: 50px;
    }

    .buttons {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }
}

:global {

  button.main-btn {
    transition: all .3s ease;

    &.red-btn {

      span {
        display: none;

        +span {
          display: inline;
        }
      }
    }

    &.white-btn {
      margin-left: 15px;
    }

    @media (max-width: 1200px) {

      &.red-btn,
      &.white-btn {
        font-size: 14px;
        padding: 0 30px;
        height: 48px;


        span {
          display: inline;

          +span {
            display: none;
          }
        }
      }

      &.red-btn {
        border: 1px solid $backgroundGrey;
        color: $black !important;
        background-color: white;

      }

      &.white-btn {
        border-color: $red;
        background-color: $red;
        color: white !important;
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }

}