@import './src/style/variables';

.callComponent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $charcoalGrey;
    text-align: center;
    color: white;
    width: 350px;
    height: 400px;

    .name{
        font-size: 22px;
    }
    .avatar {
        width: 200px;
        height: 200px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        &:after {
            content: "";
            background-image: url('/assets/avatar_mask_xlarge.png');
            width: 200px;
            height: 200px;
            position: absolute;
            top: 0;
            left: 0;
            background-size: 100%;
            z-index: 100;
        }
        img {
            width: 198px;
            height: 198px;
            object-fit: cover;
            position: relative;
            top: 1px;
            left: 1px;
        }
    }

    .btnArea{
        max-width: 500px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    .btn{
        .btnText{
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        .btnImg{
            max-width: 70px;
            max-height: 70px;
            cursor: pointer;
            margin-bottom: 3px;
            &:hover ~ .btnText{
                text-decoration: underline;
            }
        }
    }

    .controls{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-height: 460px) {
    .callComponent{
        width: 400px;
        height: 300px;

        .avatar {
            width: 150px;
            height: 150px;
            &:after {
                width: 150px;
                height: 150px;
            }
            img {
                width: 148px;
                height: 148px;
            }
        }
    }
  }