.photoCard {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    width: 208px;
    height: auto;
    min-height: 208px;
    text-align: center;
    color: white;
    margin-bottom: 20px;

    .proDetails{
        font-size: 12px;
        position: absolute;
        width: 100%;
        bottom: 25px;
    }
    .proName{
        font-size: 20px;
        letter-spacing: -0.4px;
        margin-bottom: 5px;
    }
    .proService{
        letter-spacing: 0.2px;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: rgba($color: #ffffff, $alpha: .9);
    }
    .charge{
        display: inline-block;
        width: auto;
        max-width: 110px;
        height: 21px;
        line-height: 21px;
        padding: 0 10px;
        border-radius: 12px;
        background-color: rgba($color: white, $alpha: 0.3);
    }
}

.statCard{
    background-color: #565fcf;
    font-size: 18px;
    padding: 30px 20px 30px 20px;
    margin-bottom: 20px;

    .minutes{
        font-size: 32px;
    }
    .signature{
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
    }
}

.photoCardCol{
    display: inline-block;
}